{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "es2015",
    "stage-0",
    "react"
  ],
  "retainLines": true,
  "plugins": [
    "transform-runtime",
    "syntax-dynamic-import",
    "react-loadable/babel",
    "transform-decorators-legacy",
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": true }]
  ]
}
