.wrapper {
    background: red;
  }
  .name {
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  .store {
    margin-left: .5em;
    font-weight: bold;
  }